{% extends 'base.html' %}

{% load static %}

{% block title %}
قالب آماده دایکات | ویباکس 
 {% endblock %}
{% block description %}
<meta name="description" content="قالب های اماده دایکات موجود در ویباکس."/>
{% endblock %}


{% block content %}

<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <h1>ابعاد قالب های موجود در ویباکس </h1>
                    <p>(برای کاهش هزینه های شما)</p>

                    <div class="hero-btn">
                      <a href="{% url 'amozesha' %}" class="bordered-btn">نحوه سفارش و پرداخت</a>
						                <a href="#footer-box" class="bordered-btn">تماس با ما</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!-- products -->


        <div class="mt-150 mb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12  text cnter">
                        <div class="single-article-section">
                            <div class="single-article-text text-center">


<div class="wrapper">  
<p class="h2"> برای اطلاع از موجود بودن قالب با یکی از مشاورین فروش تماس بگیرید !</p></div><br>
<div class="accordion">

  <div class="accordion-panel">
    <h2 id="panel3-title">
      <button class="accordion-trigger" aria-expanded="false" aria-controls="accordion1-content">
        دارویی
      </button>
    </h2>
    <div class="accordion-content" role="region" aria-labelledby="panel1-title" aria-hidden="true" class="accordion-content" id="panel3-content">
      <div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">کد</th>
                <th scope="col">ارتفاع</th>
                <th scope="col">عرض</th>
                <th scope="col">طول</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <!-- code -->
                <th scope="row">701</th>
                <!-- ertefa -->
                <td>20</td>
                <!-- arz -->
                <td>5.5</td>
                <!-- tol -->
                <td>9</td>
              </tr>
              <tr>
                <!-- code -->
                <th scope="row">702</th>
                <!-- ertefa -->
                <td>25</td>
                <!-- arz -->
                <td>9</td>
                <!-- tol -->
                <td>9</td>
              </tr>              
              <tr>
                <!-- code -->
                <th scope="row">703</th>
                <!-- ertefa -->
                <td>23</td>
                <!-- arz -->
                <td>15.5</td>
                <!-- tol -->
                <td>25</td>
              </tr>              
              <tr>
                <!-- code -->
                <th scope="row">704</th>
                <!-- ertefa -->
                <td>24.5</td>
                <!-- arz -->
                <td>12</td>
                <!-- tol -->
                <td>15.5</td>
              </tr>             
               <tr>
                <!-- code -->
                <th scope="row">705</th>
                <!-- ertefa -->
                <td>--</td>
                <!-- arz -->
                <td>--</td>
                <!-- tol -->
                <td>--</td>
              </tr>              
              <tr>
                <!-- code -->
                <th scope="row">706</th>
                <!-- ertefa -->
                <td>27.5</td>
                <!-- arz -->
                <td>16</td>
                <!-- tol -->
                <td>16</td>
              </tr>              
              <tr>
                <!-- code -->
                <th scope="row">707</th>
                <!-- ertefa -->
                <td>20.5</td>
                <!-- arz -->
                <td>10.5</td>
                <!-- tol -->
                <td>14.5</td>
              </tr>              
              <tr>
                <!-- code -->
                <th scope="row">708</th>
                <!-- ertefa -->
                <td>23.5</td>
                <!-- arz -->
                <td>12</td>
                <!-- tol -->
                <td>22</td>
              </tr>              
              <tr>
                <!-- code -->
                <th scope="row">709</th>
                <!-- ertefa -->
                <td>27</td>
                <!-- arz -->
                <td>16</td>
                <!-- tol -->
                <td>26</td>
              </tr>              
              <tr>
                <!-- code -->
                <th scope="row">710</th>
                <!-- ertefa -->
                <td>29</td>
                <!-- arz -->
                <td>12.5</td>
                <!-- tol -->
                <td>28.5</td>
              </tr>              
              <tr>
                <!-- code -->
                <th scope="row">711</th>
                <!-- ertefa -->
                <td>34</td>
                <!-- arz -->
                <td>7.5</td>
                <!-- tol -->
                <td>13</td>
              </tr>              
              <tr>
                <!-- code -->
                <th scope="row">712</th>
                <!-- ertefa -->
                <td>35</td>
                <!-- arz -->
                <td>13</td>
                <!-- tol -->
                <td>13</td>
              </tr>             
               <tr>
                <!-- code -->
                <th scope="row">713</th>
                <!-- ertefa -->
                <td>30.5</td>
                <!-- arz -->
                <td>9.5</td>
                <!-- tol -->
                <td>23.5</td>
              </tr>              
              <tr>
                <!-- code -->
                <th scope="row">714</th>
                <!-- ertefa -->
                <td>17.5</td>
                <!-- arz -->
                <td>13</td>
                <!-- tol -->
                <td>20.5</td>
              </tr>              
              <tr>
                <!-- code -->
                <th scope="row">715</th>
                <!-- ertefa -->
                <td>20</td>
                <!-- arz -->
                <td>13</td>
                <!-- tol -->
                <td>13</td>
              </tr>              
              <tr>
                <!-- code -->
                <th scope="row">716</th>
                <!-- ertefa -->
                <td>--</td>
                <!-- arz -->
                <td>--</td>
                <!-- tol -->
                <td>--</td>
              </tr>
              <tr>
                <th scope="row">717</th>
                <td>24</td>
                <td>8</td>
                <td>9.5</td>
              </tr> 
              <tr>
                <th scope="row">718</th>
                <td>4.5</td>
                <td>6</td>
                <td>20.5</td>
              </tr> 
              <tr>
                <th scope="row">719</th>
                <td>10</td>
                <td>6</td>
                <td>8</td>
              </tr> 
              <tr>
                <th scope="row">720</th>
                <td>13</td>
                <td>8.5</td>
                <td>10.5</td>
              </tr> 
              <tr>
                <th scope="row">721</th>
                <td>14</td>
                <td>7.5</td>
                <td>13.5</td>
              </tr> 
              <tr>
                <th scope="row">722</th>
                <td>25</td>
                <td>10</td>
                <td>17</td>
              </tr> 
              <tr>
                <th scope="row">723</th>
                <td>8.5</td>
                <td>8</td>
                <td>8</td>
              </tr> 
              <tr>
                <th scope="row">724</th>
                <td>31</td>
                <td>10</td>
                <td>10</td>
              </tr> 
              <tr>
                <th scope="row">725</th>
                <td>27.5</td>
                <td>10</td>
                <td>10</td>
              </tr> 
              <tr>
                <th scope="row">726</th>
                <td>21</td>
                <td>10.5</td>
                <td>10.5</td>
              </tr> 
              <tr>
                <th scope="row">727</th>
                <td>26.5</td>
                <td>8.5</td>
                <td>13.5</td>
              </tr> 
              <tr>
                <th scope="row">728</th>
                <td>16.5</td>
                <td>11</td>
                <td>14</td>
              </tr> 
              <tr>
                <th scope="row">729</th>
                <td>28.5</td>
                <td>10</td>
                <td>27</td>
              </tr> 
              <tr>
                <th scope="row">730</th>
                <td>28</td>
                <td>23.5</td>
                <td>28</td>
              </tr> 
              <tr>
                <th scope="row">731</th>
                <td>11.5</td>
                <td>16.5</td>
                <td>16.5</td>
              </tr> 
              <tr>
                <th scope="row">732</th>
                <td>8</td>
                <td>10.5</td>
                <td>20.5</td>
              </tr> 
              <tr>
                <th scope="row">733</th>
                <td>43.5</td>
                <td>21</td>
                <td>23</td>
              </tr> 
              <tr>
                <th scope="row">734</th>
                <td>26</td>
                <td>15</td>
                <td>15</td>
              </tr> 
              <tr>
                <th scope="row">735</th>
                <td>23.5</td>
                <td>12</td>
                <td>20.5</td>
              </tr> 
              <tr>
                <th scope="row">736</th>
                <td>33</td>
                <td>15</td>
                <td>20</td>
              </tr> 
              <tr>
                <th scope="row">737</th>
                <td>30.5</td>
                <td>14</td>
                <td>20</td>
              </tr> 
              <tr>
                <th scope="row">738</th>
                <td>15.5</td>
                <td>9.5</td>
                <td>40</td>
              </tr> 
              
              <tr>
                <th scope="row">&#8678;</th>
                <td colspan="2"><a href="#footer-box">ارتباط با ویباکس</a></td>
                <td>&#8680;</td>
              </tr>
            </tbody>
          </table>		  
        </div>
    </div>
  </div>

  <div class="accordion-panel">
    <h2 id="panel2-title">
      <button class="accordion-trigger" aria-expanded="false" aria-controls="accordion1-content">
        سینی
      </button>
    </h2>
    <div class="accordion-content" role="region" aria-labelledby="panel2-title" aria-hidden="true" id="panel2-content">
      <div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">کد</th>
                <th scope="col">ارتفاع</th>
                <th scope="col">عرض</th>
                <th scope="col">طول</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <!-- code -->
                <th scope="row">501</th>
                <!-- ertefa -->
                <td>--</td>
                <!-- arz -->
                <td>37.5</td>
                <!-- tol -->
                <td>38</td>
              </tr>
              <tr>
                <th scope="row">502</th>
                <td>--</td>
                <td>--</td>
                <td>--</td>
              </tr> 
              <tr>
                <th scope="row">503</th>
                <td>--</td>
                <td>17.5</td>
                <td>19.5</td>
              </tr> 
              <tr>
                <th scope="row">504</th>
                <td></td>
                <td>23</td>
                <td>30</td>
              </tr> 
              <tr>
                <th scope="row">505</th>
                <td>--</td>
                <td>40</td>
                <td>50</td>
              </tr> 
              <tr>
                <th scope="row">506</th>
                <td>--</td>
                <td>35</td>
                <td>45</td>
              </tr> 
              <tr>
                <th scope="row">507</th>
                <td>--</td>
                <td>--</td>
                <td>--</td>
              </tr> 
              <tr>
                <th scope="row">508</th>
                <td>--</td>
                <td>--</td>
                <td>--</td>
              </tr> 
              
              <tr>
                <th scope="row">&#8678;</th>
                <td colspan="2"><a href="#footer-box">ارتباط با ویباکس</a></td>
                <td>&#8680;</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>



  <div class="accordion-panel">
    <h2 id="panel4-title">
      <button class="accordion-trigger" aria-expanded="false" aria-controls="accordion1-content">
        پیتزایی
      </button>
    </h2>
    <div class="accordion-content" role="region" aria-labelledby="panel4-title" aria-hidden="true" class="accordion-content" id="panel4-content">
      <div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">کد</th>
                <th scope="col">ارتفاع</th>
                <th scope="col">عرض</th>
                <th scope="col">طول</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">401</th>
                <td>6.5</td>
                <td>22</td>
                <td>27</td>
              </tr> 
              <tr>
                <th scope="row">402</th>
                <td>4.5</td>
                <td>25.5</td>
                <td>25.5</td>
              </tr> 
              <tr>
                <th scope="row">403</th>
                <td>5.5</td>
                <td>20</td>
                <td>24.5</td>
              </tr> 
              <tr>
                <th scope="row">404</th>
                <td>5.5</td>
                <td>12</td>
                <td>30.5</td>
              </tr> 
              <tr>
                <th scope="row">405</th>
                <td>5.5</td>
                <td>22</td>
                <td>36.5</td>
              </tr> 
              <tr>
                <th scope="row">406</th>
                <td>4.5</td>
                <td>17.5</td>
                <td>21.5</td>
              </tr> 
              <tr>
                <th scope="row">407</th>
                <td>4.5</td>
                <td>11.5</td>
                <td>12</td>
              </tr> 
              <tr>
                <th scope="row">408</th>
                <td>9</td>
                <td>23</td>
                <td>31.5</td>
              </tr> 
              <tr>
                <th scope="row">409</th>
                <td>5</td>
                <td>20</td>
                <td>20</td>
              </tr> 
              <tr>
                <th scope="row">410</th>
                <td>4.5</td>
                <td>12</td>
                <td>12.5</td>
              </tr> 
              <tr>
                <th scope="row">411</th>
                <td>7</td>
                <td>18</td>
                <td>24.5</td>
              </tr> 
              <tr>
                <th scope="row">705</th>
                <td>8.5</td>
                <td>13.5</td>
                <td>13.5</td>
              </tr> 
              
              <tr>
                <th scope="row">&#8678;</th>
                <td colspan="2"><a href="#footer-box">ارتباط با ویباکس</a></td>
                <td>&#8680;</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>

  <div class="accordion-panel">
    <h2 id="panel5-title">
      <button class="accordion-trigger" aria-expanded="false" aria-controls="accordion5-content">
        معمولی
      </button>
    </h2>
    <div class="accordion-content" role="region" aria-labelledby="panel5-title" aria-hidden="true" class="accordion-content" id="panel3-content">
      <div class="">
        <table class="table ">
            <thead>
              <tr>
                <th scope="col">کد</th>
                <th scope="col">ارتفاع</th>
                <th scope="col">عرض</th>
                <th scope="col">طول</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">601</th>
                <td>19.5</td>
                <td>24</td>
                <td>33</td>
              </tr> 
              <tr>
                <th scope="row">602</th>
                <td>13</td>
                <td>18</td>
                <td>27</td>
              </tr> 
              <tr>
                <th scope="row">603</th>
                <td>21.5</td>
                <td>29.5</td>
                <td>39</td>
              </tr> 
              <tr>
                <th scope="row">604</th>
                <td>30.5</td>
                <td>24.5</td>
                <td>36</td>
              </tr> 
              <tr>
                <th scope="row">605</th>
                <td>3183</td>
                <td>20</td>
                <td>25</td>
              </tr> 
              <tr>
                <th scope="row">607</th>
                <td>26</td>
                <td>25</td>
                <td>55</td>
              </tr> 
              <tr>
                <th scope="row">608</th>
                <td>24</td>
                <td>25</td>
                <td>32</td>
              </tr> 
              <tr>
                <th scope="row">609</th>
                <td>--</td>
                <td>--</td>
                <td>--</td>
              </tr> 
              <tr>
                <th scope="row">610</th>
                <td>5.5</td>
                <td>10</td>
                <td>14.5</td>
              </tr> 
              <tr>
                <th scope="row">611</th>
                <td>11</td>
                <td>18</td>
                <td>27.5</td>
              </tr> 
              <tr>
                <th scope="row">612</th>
                <td>19.5</td>
                <td>18.5</td>
                <td>28</td>
              </tr> 
              <tr>
                <th scope="row">613</th>
                <td>11</td>
                <td>18</td>
                <td>27</td>
              </tr> 
              <tr>
                <th scope="row">614</th>
                <td>29</td>
                <td>22</td>
                <td>29</td>
              </tr> 
              <tr>
                <th scope="row">615</th>
                <td>23</td>
                <td>24</td>
                <td>32</td>
              </tr> 
              <tr>
                <th scope="row">616</th>
                <td>21.5</td>
                <td>20</td>
                <td>29</td>
              </tr> 
              <tr>
                <th scope="row">617</th>
                <td>32</td>
                <td>22</td>
                <td>25.5</td>
              </tr> 
              <tr>
                <th scope="row">618</th>
                <td>29</td>
                <td>19</td>
                <td>41</td>
              </tr> 
              <tr>
                <th scope="row">619</th>
                <td>32</td>
                <td>16.5</td>
                <td>34</td>
              </tr> 
              <tr>
                <th scope="row">620</th>
                <td>16.5</td>
                <td>24</td>
                <td>41</td>
              </tr> 
              <tr>
                <th scope="row">621</th>
                <td>29</td>
                <td>31</td>
                <td>45</td>
              </tr> 
              <tr>
                <th scope="row">622</th>
                <td>20.5</td>
                <td>18.5</td>
                <td>28</td>
              </tr> 
              <tr>
                <th scope="row">&#8678;</th>
                <td colspan="2"><a href="#footer-box">ارتباط با ویباکس</a></td>
                <td>&#8680;</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>


</div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>







{% block script %}<script src="{% static 'js/main2.js' %}"></script>{% endblock %}


{% endblock %}
