{% extends 'base.html' %}

{% load static %}

{% block title %}
ثبت محصول | ویباکس
 {% endblock %}
{% block description %}
<meta name="description" content="تایید محصول در ویباکس"/>
{% endblock %}



{% block content %}


	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>مرحله تایید آدرس و شماره تلفن </p>
                        <!-- <a href="{% url 'update_info' %}" class="bordered-btn">بروزرسانی اطلاعات</a> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->
	
	<!-- single article section -->


 
    <div class="mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="single-article-section">
						<div class="single-article-text">

                            تایید شد

                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>

    {% endblock %}